<!DOCTYPE html>
<html lang="en" ng-app="angularjsNodejsTutorial">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>detailPage</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="javascripts/app.js" type="text/javascript"></script>
    <!-- Custom styles for this template-->
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/detail.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body ng-controller="detailController">
      <nav class="nav affix">
          <div class="container">
              <div class="logo">
                  <a href="/"><i class="fa fa-steam-square fa-3x" aria-hidden="true"></i></a>
              </div>
              <div id="mainListDiv" class="main_list">
                  <ul class="navlinks">
                      <li><a class="active" href="/search">search</a></li>
                      <li><a href="/nav">nav</a></li>
                      <li><a href="/login">login</a></li>
                  </ul>
              </div>
          </div>
      </nav>

  
  <div style="height:100px;width: auto;">
      你好
  </div>
  <div class="container">
    <div class="row">
        <div class="gameTitle">{{detail[0]}}</div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <video width="500" height="375" ng-src="{{gamePic[0][16][0]['webm']['480']}}" controls="controls" autoplay="autoplay"></video>
        <!-- <img src="https://steamcdn-a.akamaihd.net/steam/apps/982730/ss_71235b4326ab0eb6e3cdaeb41c4139311097a2fa.600x338.jpg"> -->
<!--     <img src="{{gamePic[0][15]}}"> -->
      </div>
      
      <div class="col-md-6">
        <div class="game-content">
          <br>
          <br>
          <br>
          <br>
          <p><strong>RELEASE DATE:</strong> {{datesub}}</p>
          <p><strong>PRICE:</strong> ${{pricesub}}</p> 
          <P><strong>GENRE:</strong> {{detail[11]}}</P>
          <P><strong>DEVELOPER:</strong> {{detail[4]}}</P>
          <p><strong>TYPE:</strong> {{detail[2]}}</p>
          <P><strong>TAGS:</strong> {{detail[12]}}</P>
          <!-- <P>LANGUAGE:{{detail[13]}}</P> -->
          <a href={{detail[1]}} style="color:#9AFF02">visit offical website</a>
       
        </div>
      </div> 
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class = "game-content "><strong>Description:</strong> {{des}} ... </div>
          <br>
        <div class = "game-content "><strong>Review:</strong> {{detail[8]}} </div>
      </div>
    </div>
  </div>

<!-- 
   <div class="games-container">
      <div class="jumbotron">
        <h5 style="color: black">About the game</h5>
         <div class = "game-content ">Description: {{detail[3]}} </div>

          <div class="games-container" id="results" ng-show="detail">
            <div class="movie">  Name : {{detail[0]}}</div>
            <div class="movie"> Release Date : {{detail[2]}}</div>
            <div class="movie"> Price : {{detail[3]}}</div>
            <div class="movie"> Type :{{detail[4]}}</div>
          </div>
    </div> -->
<!--     <div class="jumbotron">
        <h5 style="color: black">Games you may also like: </h5>
          <div class="games">
            <div class="header"><strong>Name</strong></div>
            <div class="header"><strong>Release Date</strong></div>
            <div class="header"><strong>Price</strong></div>
            <div class="header"><strong>Type</strong></div>
          </div>
          <div class="games-container" id="results" ng-show="rec">
            <div class="movie">  Name : {{rec[0]}}</div>
            <div class="movie"> Genre : {{rec[1]}}</div>
            <div class="movie"> Recommended Times : {{rec[2]}}</div>
            <div class="movie"> Type :{{rec[4]}}</div>
          </div>
    </div> -->
      </div>


    <!-- <div id="section">

      <br />
      <br />
      <br />
      <h4 style="color: white">Find your game!</h4>
      <input type="text" ng-model="gameName" placeholder="Enter Game Name" id="gameName"/>
      <button id="submitMovieBtn" class="submit-btn" ng-click="showDetail()">Search</button>
         <br />
      <br />
      <br />
     <br />
    </div>


    <!-- Reference Content -->
<!--     <div class="games-container">
      <div class="jumbotron"> -->
        <!-- Display details when a game is clicked -->

        <!-- <div class='table'>
           <h4 style="color: black"><a href="https://store.steampowered.com/app/379720/DOOM/">DOOM</a></h4>
        
            <table border="0">
              <tr>
              <td>Game name</td>
              <td>Release Date:</td>
              <td>Genre</td>
              <td>Tag</td>
              <td>Game Details</td>
  
            </tr>
            <tr>
            <td>DOOM</td>
            <td>12-May-16</td>
            <td>Action</td>
             <td>tag1,tag2,... </td>
              <td>Single-player,Multi-player,Co-op,Steam Achievements,Steam Trading Cards,Partial Controller Support,Steam Cloud</td>

            </tr>
            </table>
             </div> -->
<!--              </div>
            </div> -->


    <!-- <div class="games-container">
      <div class="jumbotron">
        <h5 style="color: black">About the game</h5> -->
   <!--        <div class="games">
            <div class="header"><strong>Name</strong></div>
            <div class="header"><strong>Release Date</strong></div>
            <div class="header"><strong>Price</strong></div>
            <div class="header"><strong>Type</strong></div>
          </div> -->
          <!-- <div class="games-container" id="results" ng-show="detail">
            <div class="movie">  Name : {{detail[0]}}</div>
            <div class="movie"> Release Date : {{detail[2]}}</div>
            <div class="movie"> Price : {{detail[3]}}</div>
            <div class="movie"> Type :{{detail[4]}}</div>
          </div>
    </div>
    <div class="jumbotron">
        <h5 style="color: black">Games you may also like: </h5> -->
   <!--        <div class="games">
            <div class="header"><strong>Name</strong></div>
            <div class="header"><strong>Release Date</strong></div>
            <div class="header"><strong>Price</strong></div>
            <div class="header"><strong>Type</strong></div>
          </div> -->
          <!-- <div class="games-container" id="results" ng-show="rec">
            <div class="movie">  Name : {{rec[0]}}</div>
            <div class="movie"> Genre : {{rec[1]}}</div>
            <div class="movie"> Recommended Times : {{rec[2]}}</div> -->
            <!-- <div class="movie"> Type :{{rec[4]}}</div> -->
          <!-- </div>
    </div>
    </div> -->








    <!-- Include these before the end of body tag in every HTML file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

</html>



