<!DOCTYPE html>
<html lang="en" ng-app="angularjsNodejsTutorial">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script src="javascripts/app.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="/stylesheets/common.css" >
    <link rel="stylesheet" href="/stylesheets/search.css" >
  </head>

  <body ng-controller="searchController">
  <!-- Navbar -->
  <nav class="nav affix">
      <div class="container">
          <div class="logo">
              <a href="/"><i class="fa fa-steam-square fa-2x" aria-hidden="true"></i></a>
          </div>
          <div id="mainListDiv" class="main_list">
              <ul class="navlinks">
                  <li><a class="active" href="/search">search</a></li>
                  <li><a href="/nav">nav</a></li>
                  <li><a href="/login">login</a></li>
              </ul>
          </div>
      </div>
  </nav>

    <!-- Sample Content. You can either use this or make your own -->
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="searchbar">
        <input class="search_input" type="text" name="" ng-model="gameName" placeholder="Enter game name, please be accurate..">
        <a href="" class="search_icon" ng-click="submitName()"><i class="fas fa-search"></i></a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="jumbotron" ng-repeat="game in gameInfo">
        <div class="paragraphs">
          <div class="row">
            <div class="span4">
              <div ng-click="detail(game[0])">
                <a aria-hidden="true" href=""><img style="float:left" ng-src="{{game[2]}}"></a>
              </div>
              <div class="content-heading"><h3>{{game[0]}}</h3></div>
                <p>{{game[3]}}</p>
              <div style="clear:both"></div>
              <br>
            </div>
          </div>
        </div>
    </div>
  </div>

   

    <!-- Include these before the end of body tag in every HTML file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

</html>
